<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <div class="jumbotron" style="padding:40px;">
        <form action="/search" method="post">
            <label for="id">ENTER THE ID TO SEARCH:</label>
            <input type="text" id="id" name="Id"><br>
            <input class="btn btn-primary btn-lg" href="#" role="button" type="submit">
        </form>
    </div>
</main>


<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>